body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(IMG/3.jpg);
    background-size: 100%;
    height: 10px;
    background-position-y:-60px;
}

.me {

    
}

.back-video {
    position: absolute;
    opacity: 70%;
    width:100% ;
    right:0px;
    bottom: 0;  
    top: -15px;
    z-index: -1;
}

.distance {
    width: 100%;
    height: 120px;
    color: black;
}

.header {
    width: 100%;
    height: 70px;
    padding: 30px 0;
    box-sizing: border-box;
}

#header {
    display: block;
    width: 100%;
    text-align: center;
}

#header .logo img {
    width: 25%;
    height: 25%px;
    border-radius: 25rem;
}

#header .name {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: aliceblue;

}

#header .self {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: 800;
}

section {
    width: 100%;
    height: 30px;
}

#content {
    display: block;
    display: flex;
}

.taskbar-left {
    margin-top: 170px;
    width: 15%;
}

.taskbar-left ul {
    margin-left: -40px;
    display: inline-block;
}

.taskbar-left ul.menu li {
    display: block;
    padding: 5px 50px;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-radius: 0 10px 10px 0;
    list-style: none;
    box-sizing: border-box;
    display: flex;

}

.taskbar-left ul.menu li.Home {
    background-color: aqua;
    border: 0 10px 0 0;
}

.taskbar-left ul.menu li:hover {
    background-color: aqua;
    border-radius:  0 10px 10px 0;
}

.taskbar-left ul.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;
    font-weight: 900;
}

.taskbar-left ul.menu li:hover a {
    color: rgb(29, 13, 255);
}

.taskbar-left ul.menu li i {
    color: rgb(255, 0, 0);
}

.solution {
    margin-top: 170px;
    width: 67%;
    text-align: center;
}

.solution ul.apps li {
    padding: 25px 1px;


}

.solution ul.apps li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    border: 1px solid rgb(255, 255, 255);  
    border-radius: 1.5rem;
    padding: 15px 20px;
}

.solution ul.apps li a:hover {
    background-color: aqua;
}
    